{% extends 'ecowaste/base.html' %}

{% block content %}
<div class="container my-5">
    <h1 class="page-title text-center mb-4">About EcoWaste</h1>
    <p>EcoWaste is a comprehensive application designed to tackle the pervasive 
        issue of household food waste by empowering individuals with the knowledge 
        and tools necessary to make informed decisions about their food consumption 
        and waste management. The platform is dedicated to raising awareness about the 
        impacts of food waste and offers a variety of features aimed at helping users 
        reduce their waste footprint through thoughtful practices and sustainable habits.
    </p>
    <p>
        At the heart of EcoWaste is the commitment to educating users about the importance 
        of tracking perishable items and understanding waste generation. Through the <b>Freshness 
        Tracker</b>, users can meticulously manage their pantry and refrigerator contents. This feature 
        allows individuals to input details such as item names, quantities, purchase dates, and categories. 
        Items that need to be used soon for optimal freshness are highlighted, helping prevent spoilage and reducing 
        unnecessary waste.
    </p>
    <p>
        Complementing the Freshness Tracker is the <b>Waste Tracker </b>, which gives users insights into the types and quantities 
        of food items they discard. By monitoring food waste, users can identify patterns and understand the reasons behind their 
        waste, whether its due to spoilage, over-purchasing, or simply forgetting about items. This transparency allows users to see 
        the financial implications of their waste and motivates them to adopt more mindful consumption habits.
    </p>
    <p>
        The <b>Impact Calculator</b> is an innovative tool that quantifies the environmental benefits of users' waste reduction efforts. It provides 
        statistics on waste diverted from landfills and allows users to compare their progress with others, creating a competitive and motivating 
        environment.
    </p>
    <p>
        Finally, EcoWaste houses a wealth of educational resources in its <b>Green Guides</b>, including articles and videos that are regularly updated from reliable sources. 
        These resources ensure that users stay informed about the latest in sustainable practices and food waste reduction strategies.
    </p>
    <p>
        EcoWaste is more than just an app; its a movement towards a more sustainable and mindful way of living. By integrating practical tools and 
        fostering a community of eco-conscious individuals, EcoWaste aims to significantly reduce household food waste and promote sustainable living.
    </p>
</div>
{% endblock content %}