{% extends 'ecowaste/base.html' %}
{% load static %} 

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
        document.addEventListener("DOMContentLoaded", function () {
            const today = new Date();
            const lastWeek = new Date(today);
            lastWeek.setDate(today.getDate() - 7);
            
            // Initialize date values for custom range
            document.getElementById("co2-start-date").value = lastWeek.toISOString().split("T")[0];
            document.getElementById("co2-end-date").value = today.toISOString().split("T")[0];

            loadImpactData("co2", "past-week", "#co2-past-week-impact");
            loadImpactData("co2", "past-month", "#co2-past-month-impact");
            loadImpactData("co2", "past-quarter", "#co2-past-quarter-impact");
            loadImpactData("co2", "past-year", "#co2-past-year-impact");
            
            document.querySelectorAll('.nav-link').forEach(function(tab) {
                tab.addEventListener('click', function(event) {
                    handleTabClick(event);
                });
            });

            // Listen for custom range form submission
            document.getElementById("co2-custom-range-form").addEventListener("submit", function(event) {
                event.preventDefault();
                const startDate = document.getElementById("co2-start-date").value;
                const endDate = document.getElementById("co2-end-date").value;
                loadImpactData("co2", `custom/${startDate}/${endDate}`, "#co2-custom-impact");
            });
        });

        function handleTabClick(event) {
            // Prevent default behavior
            event.preventDefault();

            // Deactivate the current active tab
            document.querySelector('.nav-link.active').classList.remove('active');
            document.querySelector('.tab-pane.show').classList.remove('show', 'active');

            // Activate the clicked tab
            event.target.classList.add('active');

            // Show the corresponding tab content
            const targetId = event.target.getAttribute('data-bs-target');
            document.querySelector(targetId).classList.add('show', 'active');

            const tabName = targetId.split('-')[0]; 
            const range = targetId.split('-')[1]; 
            loadImpactData(tabName, range, `#${tabName}-${range}-impact`);
        }

        function loadImpactData(type, range, elementId) {
            fetch(`/calculate-impact/${type}/${range}/`)
                .then(response => response.json())
                .then(data => {
                    document.querySelector(elementId).innerHTML = data.impact;
                })
                .catch(error => console.error('Error loading impact data:', error));
        }
    </script>
    
</head>

{% block content %}
<div class="container mt-5">
    <ul class="nav nav-tabs" id="mainTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="co2-tab" data-bs-toggle="tab" data-bs-target="#co2" type="button" role="tab">Food CO2 Footprint Calculator</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="waste-tab" data-bs-toggle="tab" data-bs-target="#waste" type="button" role="tab">Waste CO2 Footprint Calculator</button>
        </li>
    </ul>

    <div class="tab-content mt-3" id="mainTabsContent">
        <div class="tab-pane fade show active" id="co2" role="tabpanel">
            <ul class="nav nav-tabs" id="co2SubTabs" role="tablist">
                <li class="nav-item">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#co2-past-week">Past Week</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#co2-past-month">Past Month</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#co2-past-quarter">Past Quarter</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#co2-past-year">Past Year</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#co2-custom">Custom Range</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div id="chart_div"></div>
                    <div class="card-body">
                        <p class="card-text">
                            Total Food Impact: {{ total_food_impact|floatformat:2 }} (kg CO2)
                        </p>
                    </div>
                    
                </div>
                <div class="tab-pane fade" id="co2-past-month">
                    <div class="card-body">
                        <p class="card-text">
                            Total Food Impact: {{ total_food_impact|floatformat:2 }} (kg CO2)
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="co2-past-quarter">
                    <div class="card-body">
                        <p class="card-text">
                            Total Food Impact: {{ total_food_impact|floatformat:2 }} (kg CO2)
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="co2-past-year">
                    <div class="card-body">
                        <p class="card-text">
                            Total Food Impact: {{ total_food_impact|floatformat:2 }} (kg CO2)
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="co2-custom">
                    <form id="co2-custom-range-form">
                        <label for="co2-start-date">Start Date:</label>
                        <input type="date" id="co2-start-date" name="start_date" required>
                        <label for="co2-end-date">End Date:</label>
                        <input type="date" id="co2-end-date" name="end_date" required>
                        <button type="submit" class="btn btn-primary mt-3">Calculate Custom CO2 Footprint</button>
                    </form>
                    <div class="card-body">
                        <p class="card-text">
                            Total Food Impact: {{ total_food_impact|floatformat:2 }} (kg CO2)
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Waste Tab Content -->
        <div class="tab-pane fade" id="waste" role="tabpanel">
            <ul class="nav nav-tabs" id="co2SubTabs" role="tablist">
                <li class="nav-item">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#co2-past-week">Past Week</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#co2-past-month">Past Month</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#co2-past-quarter">Past Quarter</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#co2-past-year">Past Year</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#co2-custom">Custom Range</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div id="chart_div"></div>
                    <div class="card-body">
                        <p class="card-text">
                            Total Food Impact: {{ total_waste_impact|floatformat:2 }} (kg CO2)
                        </p>
                    </div>
                    
                </div>
                <div class="tab-pane fade" id="co2-past-month">
                    <div class="card-body">
                        <p class="card-text">
                            Total Food Impact: {{ total_waste_impact|floatformat:2 }} (kg CO2)
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="co2-past-quarter">
                    <div class="card-body">
                        <p class="card-text">
                            Total Food Impact: {{ total_waste_impact|floatformat:2 }} (kg CO2)
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="co2-past-year">
                    <div class="card-body">
                        <p class="card-text">
                            Total Food Impact: {{ total_waste_impact|floatformat:2 }} (kg CO2)
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="co2-custom">
                    <form id="co2-custom-range-form">
                        <label for="co2-start-date">Start Date:</label>
                        <input type="date" id="co2-start-date" name="start_date" required>
                        <label for="co2-end-date">End Date:</label>
                        <input type="date" id="co2-end-date" name="end_date" required>
                        <button type="submit" class="btn btn-primary mt-3">Calculate Custom CO2 Footprint</button>
                    </form>
                    <div class="card-body">
                        <p class="card-text">
                            Total Food Impact: {{ total_waste_impact|floatformat:2 }} (kg CO2)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
