{% extends 'ecowaste/base.html' %}

{% block content %}
    <h1>EcoWaste App Waste Tracker</h1>
    
    <!-- Form to add new waste item with additional fields -->
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Waste</button>
    </form>

    <!-- List of tracked waste items with additional details -->
    <h2>Tracked Waste Items</h2>
    <ul>
        {% for item in waste_items %}
            <li>
                {{ item.name }} - {{ item.category }} - {{ item.quantity }} - {{ item.date_added }}
            </li>
        {% empty %}
            <li>No waste items tracked yet.</li>
        {% endfor %}
    </ul>
{% endblock content %}